includes:
- ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level:  8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    paths:
        -   app
        -   tests/TestHttpClient.php
    excludePaths:
        -   app/Importing/tests

    ignoreErrors:
        -
            message: '#Class .* has an uninitialized readonly property \$.*\. Assign it in the constructor\.#'
            paths:
                -  'app/Readers/*'
        -
            message: '#Match expression does not handle remaining value: string#'
        -
            message: '#Unable to resolve the template type TKey in call to function collect#'
        -
            message: '#Unable to resolve the template type TValue in call to function collect#'
        -
            message: '#Access to an undefined property App\\Models\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+\.#'
            path: 'app/*'