includes:
- ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level:  8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        -   app

    ignoreErrors:
        -
            message: '#Class .* has an uninitialized readonly property \$.*\. Assign it in the constructor\.#'
            paths:
                -  'app/Readers/*'

        -
            message: '#Match expression does not handle remaining value: mixed#'
            path: 'app/*'
        -
            message: '#Access to an undefined property App\\Models\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+\.#'
            path: 'app/*'